body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  font-size: 12;
  color: rgb(171, 80, 5);
  background: url(floor.png) repeat;
}

.navbar-default {
  font-family: 'Indie Flower', cursive;
  font-size: 24px;  
}

.navbar-brand {
  margin-top: -10px;    
}

.btn-link {
  color: rgb(171, 80, 5);
}

#wrapper {
  width: 960px auto;
  margin: 15px auto;
  text-align: center;
}

#title {
	text-align: left;
	color: rgb(171,	80, 5);
}

#estimate {
	color: rgb(171,	80, 5);
	
	text-align: left;
}

#image {
	float: right;
}

#footer {
	text-align: center;
	font-size:11px;
	color: rgb(171,	80, 5);
}