body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  font-size: 12;
  background: url(wallp.jpg) repeat;
}
#wrapper {
  width: 960px auto;
  margin: 15px auto;
  text-align: center;
}
#title {
	float: left;
}

#estimate {
	color: blue;
	line-height: 30px ;
	text-align: left;
}

#logo {
	float: right;
}

table {
	clear: both;
	border: solid 2px gray ;
	height: 50px;

}

td {
	padding: 5px 25px;
	text-align: left;
}